# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/SuperMarket_Application/.vs/SuperMarket_Application/v15/ipch/AutoPCH/c34e25a6f223acbb/STOCK.ipch
/SuperMarket_Application/.vs/SuperMarket_Application/v15/Browse.VC.opendb
